<div id="<%= dom_id task %>">
  <div>
    <strong>Title:</strong>
    <%= task.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= task.description %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </div>

  <div>
    <strong>Is completed:</strong>
    <%= task.is_completed %>
  </div>

</div>
